@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --navbar-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

h1,
h2 {
  font-family: Dynapuff;
}

 /* Allowance for navbar height so it doesn't cut off the top of page content */
.navbar + div {
  margin-top: var(--navbar-height)
}

.navbar {
  height: var(--navbar-height)
}

button.btn {
  @apply block rounded-full mx-auto;
}

input.input, input.btn, textarea {
  @apply rounded-2xl mx-auto;
}

input.input:not(.inline-block),input.btn, textarea {
  @apply block;
} 

input.input, input.btn:not(.mb-0), textarea {
  @apply mb-6;
}